<h1>Listing questions</h1>


<ol>
  <% @questions.each do |question| %>
   <td><li> <%= link_to "#{question.query}", question_path(question.id) %>
    </li><br/>
  <% end %>
  </ol>

<br />

<%= link_to 'New Question', new_question_path %>
