<h1>Listing questions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<ol>
  <% @questions.each do |question| %>
   <td><li> <%= link_to "#{question.query}", question_path(question.id) %>
    </li>
  <% end %>
  </ol>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
