<h1> <%= "Question: #{@question.query}" %> </h1>
<h3> ================================= </h3>
<br/>
<br/>


<h2> Users who have asked this Question </h2>
<h4> -------------------------------------- </h4>

<ol>
  <% @question.users.each do |user| %>
    <li>
      <%= link_to "#{user.email}", user_path %>
    </li>
  <% end %>
</ol>

