<h1> Welcome to the Users Listing </h1>
<h3> =============================== </h3>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to "#{user.email}", user_path(user) %>
    </li>
  <% end %>
</ul>
